h1 {
    margin: 15px 0px;
    padding: 1.25rem 0rem;

    min-width: 100%;

    color: #0068A5;
    font-family: Verdana, Arial, sans-serif;
    font-size: calc(1.5em + 1vw);
    letter-spacing: 2px;

    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 950px) {
    h1 {
        min-width: 50%;
    }
}